* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


::placeholder { /* Most modern browsers support this now. */
    color:    rgb(36, 36, 36);
 }
body{
    position: relative;
    font-family: Open Sans;
    background-color: black;
    /* background-color: cornsilk; */
}

.right { float: right; }
.red { color: #FF5049 !important; }
.red-focus:focus { border: 1px solid #FF5049 !important; }

.main{
    display: grid;
    grid-gap: 1rem;
    grid-template-areas:
    'box1 box1'
    'box2 box2' 
    'box3 box3' 
    'box4 box5' 
    ;
}
/* ****************************BOX1 PART*************************** */
.home{
    margin-left: 70px;
    width:90px;
    height:25px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    background-image: linear-gradient(to right, #f15b29 0%, #DD2476  51%, #f15b29  100%)
}
.home:active { transform: translateY(2px); }
#box1{
    background-image: url(../header.png);
    grid-area: box1;
    padding:9px;
    height:180px;
    /* text-align: center; */
}
.div1{
    text-align: center;
    font-weight: bold;
    font-size:50px;
    margin: 15px;
    color: rgb(245, 236, 240);
    margin-top: 0px;
    /* background-image: linear-gradient(to right, #f15b29 0%, #DD2476  51%, #e80a89  100%); */
}
.top {
    text-align: center;
    /* padding: 25px; */
    color: rgb(245, 236, 240);
}

.budget__title{
    text-align: center;
    font-size: 30px;
}
button{
    font-size: 18px;
    font-family: Open Sans;

    border: none;
    height: 50px;          

    color: white;
    cursor: pointer;
   /* border: 2px solid none; */
    border-radius: 50px;
   /* background:linear-gradient(120deg,#e05d06,#e00606,#e4078f,#e4078f,#fa0909,#e05d06); */
   background-image: linear-gradient(to right,#F05A28,#EC008C,#F05A28);
}
button:hover{
    color: rgb(0, 0, 0);

}


/* ****************************BOX2 PART*************************** */
#box2{
    grid-area: box2;
    height:60px; 
    text-align: center;
    padding-top:30px;
    }
    .add__container {
        margin: 0 auto;
        text-align: center;
        
    }
    .budget__incomepass,
    .budget__income {
        
        background-color: #28B9B5;
        padding:20px;
        margin-left:50px;
        border-radius: 5px;
        width:500px;
        float: left;
        width:300px;
        
        
    }
    .add__target {
        border: none;
        background-color:rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        font-family: inherit;
        font-size:20px;
        /* font-weight: bold;  */
        padding:15px;
        margin-right:10px;
        margin-top: 0px;
        border-radius: 5px;
        transition: border 1.10s;
        width:350px;
    
    }
    .budget__expensespass,
    .budget__expenses {
        background-color: #FF5049;
        padding:20px;
        margin-right:50px;
        border-radius: 5px;
        width:500px;
        float: right;
        width:300px;
    }
    
    .add__target:focus{
        outline: none;
        border: 1px solid #28B9B5;
    }
    .budget__incomepass,
    .budget__expensespass,
    .budget__income,
    .budget__expenses {
      
      text-transform: uppercase;
    }





.budget__income--text,
.budget__expenses--text {
    float: left;
    font-size: 15px;
    color: rgb(0, 0, 0);
    margin-top: 2px;
}

.budget__income--valuepass,
.budget__expenses--valuepass,
.budget__income--value,
.budget__expenses--value {
    letter-spacing: 1px;
    float: right;
}

.budget__income--percentage,
.budget__expenses--percentage {
    float: left;
    width: 34px;
    font-size: 11px;
    padding: 3px 0;
    margin-left: 10px;
}

.budget__expenses--percentage {
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    border-radius: 3px;
}
/* ****************************BOX3 PART*************************** */    
#box3{
    grid-area: box3;
    height:60px; 
    padding-top:30px;
    }
    .add__container{
        margin: 0 auto;
        text-align: center;
    }
    .add__type{
    width: 55px;
    border: none;
    height: 44px;
    border-radius: 5px;
    font-size: 18px;
    color: inherit;
    background-color: rgb(255, 255, 255);
    margin-right: 10px;
    font-weight: 300;
    transition: border 0.3s;
    }
    
    .add__description,
    .add__value {
    border: none;
    background-color: #fff;
    color: inherit;
    height: 44px;
    font-family: inherit;
    font-size: 18px;
    padding: 12px 15px;
    margin-right: 10px;
    border-radius: 5px;
    transition: border 0.3s;
}
    .add__act_pas{
    width:80px;
    border: none;
    height: 44px;
    border-radius: 5px;
    font-size: 18px;
    color: inherit;
    background-color: #fff;
    margin-right: 10px;
    font-weight: 300;
    transition: border 0.3s;
    }

    .add__description { width: 400px;}
    .add__value { width: 200px;}

    .add__btn {
    font-size: 35px;
    background: none;
    border: none;
    color: #28B9B5;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    margin-left: 10px;
}
    .add__btn:active { transform: translateY(2px); }

    .add__description:focus,
    .add__value:focus,
    .add__type:focus,
    .add_income_expenses:focus,
    .add__act_pas:focus,
    .add__value:focus {
        outline: none;
        border:none;
}

.add__btn:focus { outline: none; }   
/* ****************************BOX4 PART*************************** */

#box4{
    grid-area: box4;
    color: #28B9B5;
    font-size: 30px;
    /* background-color: darkkhaki; */
    border-radius:4px;
    width:500px;
    margin-left: 400px;
    margin-top: 10px;
    height:720px;
    border:1px solid  #28B9B5;
    border-bottom-color: rgb(0, 0, 0);
}
.income {
    float: left;
    width: 475px;
    margin-right:50px;
}

/* ****************************BOX5 PART*************************** */
#box5{
    grid-area: box5;
    color: #FF5049;
    font-size: 30px;
    /* background-color: darkkhaki; */
    border-radius: 4px;
    width:500px;
    margin-right: 400px;
    margin-top: 10px;
    height:720px;
    border:1px solid  #FF5049;
    border-bottom-color: rgb(0, 0, 0);
}
.expenses {
    float: left;
    width: 475px;
}

h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
    text-align: center;
}
.icome__title { color: #28B9B5; }
.expenses__title { color: #FF5049; }

.item {
    padding: 23px;
    
}


.item__description {
    float: left;
    color: rgb(255, 255, 255);
    font-size: 22px;
}

.item__value {
    float: left;
    margin-left: 1px;
    transition: transform 0.3s;
    font-size: 22px;
}

/*.item__percentage {
    float: left;
    margin-left: 20px;
    transition: transform 0.3s;
    font-size: 11px;
    background-color: #FFDAD9;
    padding: 3px;
    border-radius: 3px;
    width: 32px;
    text-align: center;
}
**/

.income .item__value,
.income .item__delete--btn {
    color: #28B9B5;
}

.expenses .item__value,
.expenses .item__percentage,
.expenses .item__delete--btn {
    color: #FF5049;
}


.item__delete {
    float: right;
    margin-top: -8px;
}

.item__delete--btn {
    font-size: 22px;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    display: none;
}

.item__delete--btn:focus { outline: none; }
.item__delete--btn:active { transform: translateY(2px); }

.item:hover .item__delete--btn { display: block; }
.item:hover .item__value { transform: translateX(-20px); }
.item:hover .item__percentage { transform: translateX(-20px); }


.unpaid {
    background-color: #FFDAD9 !important;
    cursor: pointer;
    color: #FF5049;

}

.unpaid .item__percentage { box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1); }
.unpaid:hover .item__description { font-weight: 900; }

